body {
  background-color: #888;
  color: #8d8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("./img/testBackground.png");
  background-size: cover;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.smiley {
  background-image: url("./img/faceHappy.png");
  background-size: cover;
  image-rendering: pixelated;
  width: 3em;
  height: 3em;
}
.bombsLeftContainer {
  background-image: url("./img/bombsLeftContainer.png");
  background-size: contain;
  background-size: 100% 100%;
  image-rendering: pixelated;
  width: 6em;
  height: 3em;
  display: flex;
}
.leftSideOfTopBarContainer {
  width: 8em;
  height: 3em;
}
.timerContainer {
  background-image: url("./img/clockContainer.png");
  background-size: contain;
  background-size: 100% 100%;
  image-rendering: pixelated;
  width: 8em;
  height: 3em;
  display: flex;
}
.topbarNumber {
  flex: 1;
  background-size: cover;
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-image: url("./img/topbarNum0.png");
}

#boardContainer {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
  box-shadow: 10px 10px 10px 5px rgb(0, 0, 0, 0.5);  
}

#topBar {
  width: 100%;
  height: 3em;
  margin-bottom: 20px;
  background-color: #0e2452;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lightgray;
  /* box-sizing: border-box; */
  box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.5);  
}

.tile {
  display: flex;
  width: 2em;
  height: 2em;
  background-size: cover;
  image-rendering: pixelated;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
